/* Featured Projects */
#works {
  margin-bottom: 180px;
  margin-top: 100px;
}
.project-container {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1200px) {
  .works-exp-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .works-exp {
    /* text-align: right; */

    position: relative;
    line-height: 1;
  }
  .works-exp::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 50%;
    height: 50%;
    width: 100%;
    /* background-color: red; */
    border: 1px solid var(--clr-bg-light);
    border-right: none;
    border-bottom: none;
  }
}

.rec-arrow-right {
  left: 60px;
}

.rec-carousel {
  position: relative;
}
.rec-arrow {
  background: #d6685314 !important;

  border-radius: 0 !important;
  position: absolute;
  z-index: 9;
  bottom: -60px;
}
.rec-arrow:focus,
.rec-arrow:hover {
  background: var(--clr-accent) !important;
  color: black !important;
}
.div-carousel div {
  user-select: unset !important;
}
.div-carousel div:focus {
  outline: none !important;
  border: none !important;
}
